  .main {
    text-align: center;
  }
  
  .main__title, .main__title-init {
    margin: 80px 0;
  }
  
  .main__title-init {
    color: #2F4F4F;
  }

  .main__pic {
    width: 100%;
  }
  
  .main__pic-img {
    max-width: 100%;
    height: 40vh;
    object-fit: cover;
  }
  
  .main__pic-caption {
    margin: 20px 0;
  }
  
  .main__btns {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .main__btn-yes {
    background-color: #008000;
  }
  
  .main__btn-no {
    background-color: #800000;
  }
  
  .main__btn-dn {
    background-color: #ff00e3;
  }